<app-header titulo="Botones"></app-header>

<ion-content [fullscreen]="true">
  <br />
  <h6 class="ion-padding">Botón por defecto</h6>
  <br />
  <ion-button>Default</ion-button>
  <br />
  <h6 class="ion-padding">Botón con expand</h6>
  <br />
  <ion-button expand="full" color="success">Full button</ion-button>
  <ion-button color="success" expand="block">Block button</ion-button>
  <br />
  <h6 class="ion-padding">Fill button</h6>
  <br />
  <ion-button color="warning" fill="clear">Clear button</ion-button>
  <ion-button color="warning" fill="outline">Outline button</ion-button>
  <ion-button color="warning" fill="Solid">Solid button</ion-button>
  <br />
  <h6 class="ion-padding">Shape buttons</h6>
  <ion-button color="danger" shape="round">Round button</ion-button>
  <ion-button color="blank" shape="round">
    <ion-icon name="heart" slot="icon-only" color="danger"></ion-icon>
  </ion-button>
  <ion-button color="danger" shape="pill">Pill button></ion-button>
  <br />
  <h6 class="ion-padding">Shape buttons</h6>
  <ion-button size="default">Size buttons</ion-button>
  <ion-button size="small">Small buttons</ion-button>
  <ion-button size="large">Large buttons</ion-button>
  <h6 class="ion-padding">Icon buttons</h6>
  <ion-button>
    <ion-icon name="beer" slot="end"></ion-icon>
  </ion-button>

  <!-- Botones combinados -->
  <ion-button color="success" expand="block" fill="outline" size="large">
    Aceptar
  </ion-button>
  <ion-button color="danger" fill="clear" shape="round" size="small">
    <ion-icon name="flame" slot="start"></ion-icon>
    Danger
  </ion-button>
  <ion-button color="warning" expand="full" fill="solid" shape="pill">
    <ion-icon name="star" slot="start"></ion-icon>
    Warning!
  </ion-button>
  <ion-button color="primary" fill="outline" shape="round" size="large">
    <ion-icon name="thumbs-up" slot="end"></ion-icon>
    Boton redondo
  </ion-button>
  <ion-button color="success" fill="clear" expand="block" size="small">
    <ion-icon name="leaf" slot="icon-only"></ion-icon>
  </ion-button>
</ion-content>
