<app-header titulo="Chips"></app-header>

<ion-content [fullscreen]="true">
  <ion-chip>Soy un chip</ion-chip>
  <ion-chip disabled="true">Deshabilitado</ion-chip>
  <ion-chip outline="true">Outline</ion-chip>
  <ion-chip>Normal</ion-chip>
  <br />
  <br />
  <ion-chip color="success">Success chips</ion-chip>
  <ion-chip color="danger">Danger chips</ion-chip>
  <br />
  <br />
  <ion-chip>
    Archivado
    <ion-icon name="pin" color="dark"></ion-icon>
  </ion-chip>
  <ion-chip>
    Cerrar
    <ion-icon name="close" color="danger"></ion-icon>
  </ion-chip>
  <ion-chip>
    <ion-avatar>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Usuario Desconocido</ion-label>
  </ion-chip>
</ion-content>
