<app-header titulo="Alertas"></app-header>
<ion-content [fullscreen]="true">
  <ion-button color="success" expand="full" class="ion-margin" (click)="openAlert()">Abrir alerta</ion-button>
  <ion-button color="success" expand="full" class="ion-margin" (click)="openAlertButtons()">Abrir advertencia</ion-button>
  <ion-button color="success" expand="full" class="ion-margin" (click)="openLogin()">Login</ion-button>
  <ion-button color="success" expand="full" class="ion-margin" (click)="openCustomized()">Alerta personalizada</ion-button>

</ion-content>
